<<<<<<< HEAD
*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-item{
    margin-right: 4rem;
}
.header-search{
    width:35rem;
    height:3.5rem;
    border-radius: .7rem;
    box-shadow:3px 3px 10px 0px rgb(204, 203, 203);
}
.header-list{
    list-style-type: none;
    width:100%;
}
.header-list-item{
    text-decoration: none;
    margin-right:2rem;
    border:.1px solid #cccccc;
    padding:.5rem .7rem;
    border-radius: 6px;
    display: inline-block;
        margin-top: 1rem;
    

}
.header1{
    min-height: 7vh;
    max-width: 100%;
}
.header-form1{
    width:100%;
}
.header-form1,.header-form2{
    display:none;
}


@media(max-width:950px)
{
    .header-form{
        display: none !important;
    }
    
    .nav-bar{
        position: relative;
        min-height:10vh;
    }
    .header-button{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        left: 1.5rem;
    }
    .header-img{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        bottom: auto;
        right: 1.5rem;
    }
}
@media (max-width:950px)
{
    .header-form1{
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 5.5rem;
    }
    .header-form2{
        width:100%;
        display:block;
        margin-top: .2rem;
    }
    .header-search{
        max-width: 85%;
        height:3.5rem;
    }
}
       .food-choices{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap:15px;
        }
        .food-choice-img{
            height:150px;
            width:150px;
           clip-path: circle(50% at 50% 50%);
           box-shadow:3px 3px 10px 0px rgb(204, 203, 203);
           object-fit: cover;
        }
        .food-item-name{
            text-align: center;
            font-size: 1.2rem;
            color: #343434;
            font-weight: 450;
            margin-top: .5rem;
        }
        .header-food-item{
            max-width: 100%;
            margin:1rem 0rem;
            padding:1rem 0rem;
            display: flex;
            justify-content: center;
            text-align: center;
        }
        .grid-food-item
        {
            max-width: 25rem;
            padding:.8rem 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin:1.5rem 0rem;
            border-radius: 1rem;
            
        }
        .xyz{
            max-width:25rem;
        }
        .grid-food-item-img
        {
            height:15rem;
            width: 25rem;
            object-fit: cover;
            border-radius: 1rem;

        }
        .restaurant-name{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin-top: .5rem;
        }
        .grid-food-item-name{
            font-size:1.5rem;
            font-weight: 500;
            letter-spacing: .1rem;
        }
        .grid-food-item-name1{
          background-color: green;
          border-radius: .5rem;
          padding:.2rem .4rem;
        }
        .grid-food-item:hover{
            background-color: rgb(246, 246, 246);
            border:1px solid #ebebeb;
            
        }

        .grid{
            max-width: 100%;
            display:flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            
        }
=======
*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-item{
    margin-right: 4rem;
}
.header-search{
    width:35rem;
    height:3.5rem;
    border-radius: .7rem;
    box-shadow:3px 3px 10px 0px rgb(204, 203, 203);
}
.header-list{
    list-style-type: none;
    width:100%;
}
.header-list-item{
    text-decoration: none;
    margin-right:2rem;
    border:.1px solid #cccccc;
    padding:.5rem .7rem;
    border-radius: 6px;
    display: inline-block;
        margin-top: 1rem;
    

}
.header1{
    min-height: 7vh;
    max-width: 100%;
}
.header-form1{
    width:100%;
}
.header-form1,.header-form2{
    display:none;
}


@media(max-width:950px)
{
    .header-form{
        display: none !important;
    }
    
    .nav-bar{
        position: relative;
        min-height:10vh;
    }
    .header-button{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        left: 1.5rem;
    }
    .header-img{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        bottom: auto;
        right: 1.5rem;
    }
}
@media (max-width:950px)
{
    .header-form1{
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 5.5rem;
    }
    .header-form2{
        width:100%;
        display:block;
        margin-top: .2rem;
    }
    .header-search{
        max-width: 85%;
        height:3.5rem;
    }
}
       .food-choices{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap:15px;
        }
        .food-choice-img{
            height:150px;
            width:150px;
           clip-path: circle(50% at 50% 50%);
           box-shadow:3px 3px 10px 0px rgb(204, 203, 203);
           object-fit: cover;
        }
        .food-item-name{
            text-align: center;
            font-size: 1.2rem;
            color: #343434;
            font-weight: 450;
            margin-top: .5rem;
        }
        .header-food-item{
            max-width: 100%;
            margin:1rem 0rem;
            padding:1rem 0rem;
            display: flex;
            justify-content: center;
            text-align: center;
        }
        .grid-food-item
        {
            max-width: 25rem;
            padding:.8rem 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin:1.5rem 0rem;
            border-radius: 1rem;
            
        }
        .xyz{
            max-width:25rem;
        }
        .grid-food-item-img
        {
            height:15rem;
            width: 25rem;
            object-fit: cover;
            border-radius: 1rem;

        }
        .restaurant-name{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin-top: .5rem;
        }
        .grid-food-item-name{
            font-size:1.5rem;
            font-weight: 500;
            letter-spacing: .1rem;
        }
        .grid-food-item-name1{
          background-color: green;
          border-radius: .5rem;
          padding:.2rem .4rem;
        }
        .grid-food-item:hover{
            background-color: rgb(246, 246, 246);
            border:1px solid #ebebeb;
            
        }

        .grid{
            max-width: 100%;
            display:flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            
        }
>>>>>>> c03ffcbede36e097b7c0cdc8e37cbed0ed81151a
